# ===== Flutter =====
.build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
ios/Pods/
android/.gradle/
android/local.properties

# ===== React / React Native / Electron =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Build outputs =====
build/
dist/
out/

# ===== Environment files =====
.env
.env.local

# ===== OS files =====
.DS_Store
Thumbs.db
